%footer.regi-footer
  %nav
    %ul.regi-footer__list<>
      %li.regi-footer__list__item<>
        = link_to root_path do
          プライバシーポリシー
      %li.regi-footer__list__item<>
        = link_to root_path do
          メルカリ利用規約
      %li.regi-footer__list__item<>
        = link_to root_path do
          特定商取引に関する表記
  .regi-footer__logo
    .regi-footer__logo__form
      = link_to root_path do
        = image_tag '/images/common/logo-gray.svg'
  %p
    %samll © 2019 Mercari

