.user-main__contents__form.single-panel
  = form_with url:users_sign_up_complete_path, method: :post,local: true, html: {name:'inputForm'} do |f|
    .user-main__contents__form__group
      %label.user-main__contents__form__group__item{for:"card_number"}
        カード番号
      %span.user-main__contents__form__group__item--required
        必須
      = f.number_field :card_number, class:'user-main__contents__form__group__item__input', placeholder:'半角数字のみ', required: true
      %ul.user-main__contents__form__group__card-list
        %li
          = image_tag 'common/visa.svg', class:'credit-card',width:'49px',height:'20px'
        %li
          = image_tag 'common/master-card.svg', class:'credit-card',width:'34px',height:'20px'
        %li
          = image_tag 'common/saison-card.svg', class:'credit-card',width:'30px',height:'20px'
        %li
          = image_tag 'common/jcb.svg', class:'credit-card',width:'32px',height:'20px'
        %li
          = image_tag 'common/american_express.svg', class:'credit-card',width:'21px',height:'20px'
        %li
          = image_tag 'common/dinersclub.svg', class:'credit-card',width:'32px',height:'20px'
        %li
          = image_tag 'common/discover.svg', class:'credit-card',width:'32px',height:'20px'
    .user-main__contents__form__group
      %label.user-main__contents__form__group__item{for:"expiration_date"}
        有効期限
      %span.user-main__contents__form__group__item--required
        必須
      %br        
      != sprintf(f.date_select(:expiration_date,with_css_classes:'user-main__contents__form__group__item__input', order:[:month,:year,:day], use_month_numbers:true, discard_day:true, start_year:Time.now.year-2000, end_year:Time.now.year-2000+10, date_separator:'%s'),'月','年')
      年
    .user-main__contents__form__group
      %label.user-main__contents__form__group__item{for:"card_security_code"}
        セキュリティコード
      %span.user-main__contents__form__group__item--required
        必須
      = f.number_field :card_security_code, class:'user-main__contents__form__group__item__input', placeholder:'カード背面4桁もしくは3桁の番号', required: true
      %p.user-main__contents__form__group__confirm-text.text-right
        = link_to users_sign_up_complete_path, class:'user-main__contents__form__group__confirm-text--link', target:'_blank' do
          = icon 'fas', 'question-circle'
          カード裏面の番号とは？
      .user-main__contents__form__group#card_token
        =f.submit '次へ進む', class:'user-main__contents__form__group__btn--default',id:'token_submit'