.mypage__main
  .mypage__main__contents
    %ul.mypage__main__contents__nav
      %li.mypage__main__contents__nav.selected-tab
        = link_to '#' do
          お知らせ
      %li.mypage__main__contents__nav
        = link_to notifications_index_todo_path do
          やることリスト
    .maypage__main__contents__content
      -if @notifications&.present? && @notifications.size > 0
        %ul
          - @notifications.each do | info |
            %li.mypage__main__contents__content
              = link_to dispatcher_notification_path(info.id) do
                - if info.sender.avatar.attached?
                  = image_tag info.sender.avatar, class:'mypage__main__contents__content__image', height: '48px', width: '48px'
                -else
                  = image_tag 'common/member_photo_noimage_thumb.png', class:'mypage__main__contents__content__image', height: '48px', width: '48px'
                .mypage__main__contents__content__text
                  = info.title
                  .mypage__main__contents__content__time
                    = icon 'far fa-lg','clock'
                    %p
                      %time(datetime="#{info.created_at}")= time_ago_in_words(info.created_at) + '前'
                    - unless info.checked
                      %p.user-main__contents__form__group__item--required
                        未読
                .mypage__main__contents__content__link-icon
                  = icon 'fas fa-lg','angle-right'
      - else 
        .mypage__main__contents__content--none
          %h3
            お知らせはありません