.user-main
  .user-main__contents.login-form
    .user-main__contents__form.form-underline.top-panel
      .user-main__contents__form__group
        %p.user-main__contents__form__group__info-text.text-center
          アカウントをお持ちでない方はこちら
        =link_to new_user_registration_path, class:'user-main__contents__form__group__btn--signup' do
          新規会員登録
    .user-main__contents__form.middle-panel
      .user-main__contents__form__group.nallow-margin
        .user-main__contents__form__group__btn.nallow-margin
          =link_to user_facebook_omniauth_authorize_path, class:'user-main__contents__form__group__btn--facebook none-radius', method: :post do
            = icon 'fab', 'facebook-square', class: "contents__btn--icon"
            Facebookでログイン
      .user-main__contents__form__group.nallow-margin
        .user-main__contents__form__group__btn.nallow-margin
          =link_to user_google_oauth2_omniauth_authorize_path, class:'user-main__contents__form__group__btn--google none-radius', method: :post do
            Googleでログイン
    .user-main__contents__form.inner-panel
      = form_with model: @user, url: new_user_session_path, id: 'new_user', class: 'new_user', local: true do |f|
        = devise_error_messages!
        .user-main__contents__form__group
          %label.user-main__contents__form__group__item{for:"email"}
          = f.email_field :email, class:'user-main__contents__form__group__item__input none-top-margin', placeholder:'メールアドレス', required: true
        .user-main__contents__form__group.nallow-margin
          %label.user-main__contents__form__group__item{for:"password"}
          = f.password_field :password, class:'user-main__contents__form__group__item__input none-top-margin', placeholder:'パスワード', autocomplete: 'off', required: true, minlength:'7'
        .user-main__contents__form__group
          = recaptcha_tags
        .user-main__contents__form__group
          = f.submit 'ログイン', class:'user-main__contents__form__group__btn--default'
          %p.user-main__contents__form__group__confirm-text
            %br
            %br
            = link_to users_sign_up_telephone_path, class:'user-main__contents__form__group__confirm-text--link', target:'_blank' do
              パスワードをお忘れの方