%p
  = "#{@trade.buyer.nickname}さん"
  %br
  freemaket.sample.d56をご利用いただきありがとうございます。
  %br
  = "下記の商品が#{@trade.seller.nickname}さんより発送されました"
  %br
  %br
  ■商品情報
  = "商品ID : #{@trade.product_id}"
  %br
  = "商品名 : #{@trade.product.name}"
  %br
  = "商品価格 : #{@trade.product.price.to_s(:delimited, delimiter: ',')}円"
  %br
  = "出品者 : #{@trade.seller.nickname}"
  %br
  %bt
  = "商品が届いたら内容を確認して、#{@trade.seller.nickname}さんの受取評価してください。"
  ※受け取る前に受取評価をするのは絶対におやめください
  %br
  %br
  Webサイトを起動しホーム画面右上のアイコンから「やることリスト」が確認できます。
  %br
  %br
  Webサイトを起動する
  %br
  http://localhost:3000
  %br
  %br
  ※このメールは返信しても届きません。お問い合わせはアプリを起動して「お問い合わせ」からお願いいたします。
