.footer
  .footer-top
    = image_tag 'back-image.png', class: 'back-image'
  .footer-top_contents
    .footer-top_contents_heading
      %h1 スマホでかんたんフリマアプリ
      %p 今すぐ無料ダウンロード！
      = image_tag 'icon.png', width: '65', class: "ml-icon"
      %a{href: "#"}
        = image_tag '//www-mercari-jp.akamaized.net/assets/img/common/common/app-store.svg?863303983', class: "dllink-image"
        = image_tag '//www-mercari-jp.akamaized.net/assets/img/common/common/google-play.svg?863303983', class: "dllink-image"
    .footer-top_contents_img
      = image_tag 'footer-main.png', width: '320', class: 'footer-main_img'
.footer-bottom
  .footer-bottom-detail
    .footer-bottom-detail_something
      %p メルカリについて
      %a{href: "#"} 会社概要 (運営会社)
      %a{href: "#"} 採用情報
      %a{href: "#"} プレリリース
      %a{href: "#"} 公式ブログ
      %a{href: "#"} メルカリロゴ利用ガイドライン
      .footer-bottom-detail_something_icon
        %a{href: "#"}
          = fa_icon 'twitter', class: 'tw-icon'
        %a{href: "#"}
          = fa_icon 'facebook', class: 'fb-icon'
    .footer-bottom-detail_something
      %p ヘルプ&ガイド 
      %a{href: "#"} メルカリガイド
      %a{href: "#"} らくらくメルカリ便
      %a{href: "#"} ゆうゆうメルカリ便
      %a{href: "#"} 大型メルカリ便
      %a{href: "#"} 車体取引ガイド
      %a{href: "#"} メルカリあんしん・あんぜん宣言！
      %a{href: "#"} 偽ブランド品撲滅への取り組み
      %a{href: "#"} メルカリボックス
    .footer-bottom-detail_something
      %p プライバシーと利用規約
      %a{href: "#"} プライバシーボリシー
      %a{href: "#"} メルカリ利用規約
      %a{href: "#"} あんしんスマホサポート制度に関する利用規約
      %a{href: "#"} コンプライアンスポリシー
    .footer-bottom-detail_something_right
      %a{href: "#"} 個人データの安全管理に係る基本方針
      %a{href: "#"} 特定商取引に関する表記
      %a{href: "#"} 資産決済法に基づく表示
      %a{href: "#"} 法令遵守と犯罪防止のために
    .footer-bottom-detail_something
      %p 国
      %a{href: "#"} 日本
      %a{href: "#"} United States
  .footer-logo
    %a{href: "#"}
      = image_tag 'logo-white.png', class: 'logo-white'
    %p © 2019 Mercar
  .user-sell
    %a{href: "#", class: "text"}
      出品
    %a{href: "#"} 
      = fa_icon 'camera', class: "camera"