.header
  .header--wrapper
    .header--logo
      = link_to root_path do
        = image_tag 'logo.png', width: '133', alt: 'アイコン'
    .header--search
      .header--search__input
        = form_tag products_search_result_page_path, method: "get" do
          = text_field_tag :search
          = submit_tag '', type: "hidden", name: nil
      .header--search__icon
        = link_to '' do
          = icon 'fas', 'search', class: 'icon'
  .header--select
    .header--select__category
      = link_to '' do
        = icon 'fas', 'list'
      = link_to "カテゴリーから探す", root_path, class: "search-text"
    .header--select__category
      = link_to '' do
        = icon 'fas', 'tag'
      = link_to "ブランドから探す", root_path, class: "search-text"
    - if user_signed_in?
      .header--user--status--login
        = link_to mypage_favorites_path do
          = icon 'fas', 'heart'
          いいね！一覧
        = link_to '' do
          = icon 'fas', 'bell'
          お知らせ
        = link_to '' do
          = icon 'fas', 'tag'
          やることリスト
      .mypage-link
        = link_to user_path(current_user.id) do
          - if current_user.avatar.attached?
            = image_tag(current_user.avatar)
          -else
            = image_tag('common/member_photo_noimage_thumb.png')
          %p.mypage-btn
            マイページ
    - else    
      .header--btn
        .header--btn__signupbtn
          = link_to "新規会員登録", new_user_registration_path
        .header--btn__logbtn
          = link_to "ログイン",  user_session_path

