.header
  .header--wrapper
    .header--logo
      = link_to root_path do
        = image_tag 'logo.png', width: '133', alt: 'アイコン'
    .header--search
      .header--search__input
        %input.search-register{type: "text", name: "name", placeholder: "何かお探しですか？", autocomplete: "off", style: "font-size:100%;"}
      .header--search__icon
        = link_to '' do
          = icon 'fas', 'search', class: 'icon'
  .header--select
    .header--select__category
      = link_to '' do
        = icon 'fas', 'list', class: "awsome"
        カテゴリーから探す    
    .header--select__category
      = link_to '' do
        = icon 'fas', 'tag', class: "awsome"
        ブランドから探す
    - if user_signed_in?
      .header--user--status--login
        = link_to '' do
          = icon 'fas', 'heart'
          いいね！一覧
        = link_to '' do
          = icon 'fas', 'bell'
          お知らせ
        = link_to '' do
          = icon 'fas', 'tag'
          やることリスト
      .mypage-link
        = link_to users_edit_profile_path do
          = image_tag 'icon.png', width: "35", class: "img"
        = link_to "マイページ", "/users/mypage", class: "mypage-btn"
    - else    
      .header--btn
        .header--btn__signupbtn
          = link_to "新規会員登録", new_user_registration_path
        .header--btn__logbtn
          = link_to "ログイン",  user_session_path

