.item--list__image
  = link_to 'products/show' do
    - if product.images.first
      = image_tag product.images.first
    - else
      = image_tag 'mercari_profile.png'
  -# 一旦条件分岐してます↑↑↑↑seedファイルには画像がない商品もあったので
  -# 本来は = image_tag product.images.first だけでOk
  .item--list__image__text
    = link_to product.text, 'products/show'
    .item--list__image__text__wrapper
      .item--list__image__text__wrapper__value
        %p  ¥ #{product.price} 
      .item--list__image__text__wrapper__like
        = icon 'far', 'heart'
        %span 1