.item--list__image
  = link_to product_path(product) do
    = image_tag product.images.first
  .item--list__image__text
    = link_to product.text, product_path(product)
    .item--list__image__text__wrapper
      .item--list__image__text__wrapper__value
        %p  ¥ #{product.price} 
      .item--list__image__text__wrapper__like
        = icon 'far', 'heart'
        %span 1