=render 'header'
.selling_show.crearfix
  .selling_show-item
    %h1
      = @product.name
    .show-item__wrapper
      .show-item__wrapper__contents
        .show-item__wrapper__contents__image
          = image_tag @product.images.first, height: '260', width: '300', class: "slide"
        -# 売り切れの場合
        - if @product.sales_status_id  == 2
          .show-item__wrapper__contents__sold-out
            SOLD
          .show-item__wrapper__contents__sold-out__tag
        .show-item__wrapper__contents__list
          - @product.images.each do |image|
            = image_tag image, height: '50', width: '60', class: "show-item__wrapper__contents__list__img"
      .selling_show-item__wrapper__contents__owner
        .selling_show-item__wrapper__contents__owner__detail
          .selling_show-item__wrapper__contents__owner__detail__left
            %p 出品者
          .selling_show-item__wrapper__contents__owner__detail__right
            = link_to @product.seller.nickname, show_profile_user_path(@product.seller.id)
            = icon 'fas', 'smile', class: "good"
            = @rating_good
            = icon 'fas', 'meh', class: "normal"
            = @rating_normal
            = icon 'fas', 'frown', class: "bad"
            = @rating_bad
        .selling_show-item__wrapper__contents__owner__detail
          .selling_show-item__wrapper__contents__owner__detail__left
            %p カテゴリー
          .selling_show-item__wrapper__contents__owner__detail__right
            = link_to "#{@category_parent.name}"
            .arow
              = link_to '' do
                = icon 'fas', 'angle-right'
              = link_to "#{@category_children.name}"
            - unless @product.category.depth == 1
              .arow-second
                = link_to '' do
                  = icon 'fas', 'angle-right'
                = link_to "#{@category_grandchildren.name}" 
        .selling_show-item__wrapper__contents__owner__detail
          .selling_show-item__wrapper__contents__owner__detail__lefts
            %p ブランド
          .selling_show-item__wrapper__contents__owner__detail__rights
            - if @product.brand_id.present?
              = link_to "#{@product.brand.name}"
        .selling_show-item__wrapper__contents__owner__detail
          .selling_show-item__wrapper__contents__owner__detail__lefts
            %p サイズ
          .selling_show-item__wrapper__contents__owner__detail__rights
            - if @product.size_id.present?
              = link_to "#{@product.size.data}"
        .selling_show-item__wrapper__contents__owner__detail
          .selling_show-item__wrapper__contents__owner__detail__lefts
            %p 商品の状態
          .selling_show-item__wrapper__contents__owner__detail__rights
            %p #{@product.status.name}
        .selling_show-item__wrapper__contents__owner__detail
          .selling_show-item__wrapper__contents__owner__detail__lefts
            %p 配送料の負担
          .selling_show-item__wrapper__contents__owner__detail__rights
            %p #{@product.postage_burden.name}
        .selling_show-item__wrapper__contents__owner__detail
          .selling_show-item__wrapper__contents__owner__detail__lefts
            %p 配送元の地域
          .selling_show-item__wrapper__contents__owner__detail__rights
            %p #{@product.prefecture.name}
        .selling_show-item__wrapper__contents__owner__detail
          .selling_show-item__wrapper__contents__owner__detail__lefts
            %p 発送日の目安
          .selling_show-item__wrapper__contents__owner__detail__rights
            %p #{@product.delivery_days.name}
    .selling_show-item__value
      %h1 ¥#{@product.price.to_s(:delimited, delimiter: ',')}
      %p (税込)
      %span 送料込み
    .selling_show-item__text
      = simple_format(@product.text)
  .selling_show-item__second
    .selling_show-item__edit
      = link_to "商品の編集", edit_product_path(@product)
    .selling_show-item__edit__or
      or
    .selling_show-item__destroy
      = link_to "商品の削除", product_path(@product), method: :delete, data: { confirm: "本当に削除してよろしいでしょうか？"}
=render 'footer-top'
=render 'footer-bottom'

:javascript
    $(".show-item__wrapper__contents__list__img").on("mouseover", function(){
      $(this).removeClass("show-item__wrapper__contents__list__img")
      var src = $(this).attr('src')
      $(".slide").attr('src', src)
    });

    $(".show-item__wrapper__contents__list__img").on("mouseout", function(){
     $(this).addClass("show-item__wrapper__contents__list__img")
    })