=render 'header'
.notification
  - flash.each do |key, value|
    = content_tag :div, value, class: key
.show.crearfix
  .show-item
    %h1
      = @product.name
    .show-item__wrapper
      .show-item__wrapper__contents
        .show-item__wrapper__contents__image
          = image_tag @product.images.first, height: '265', width: '300'
        -# 売り切れの場合
        - if @product.sales_status_id  == 2
          .show-item__wrapper__contents__sold-out
            SOLD
          .show-item__wrapper__contents__sold-out__tag
        - @product.images.each do |image|
          .show-item__wrapper__contents__list
            = image_tag image, height: '50', width: '54'
      .show-item__wrapper__contents__owner
        .show-item__wrapper__contents__owner__detail
          .show-item__wrapper__contents__owner__detail__left
            %p 出品者
          .show-item__wrapper__contents__owner__detail__right
            = link_to @product.seller.nickname
            = icon 'far', 'laugh-squint', class: "good"
            1
            = icon 'far', 'meh', class: "normal"
            1
            = icon 'far', 'angry', class: "bad"
            1
        .show-item__wrapper__contents__owner__detail
          .show-item__wrapper__contents__owner__detail__left
            %p カテゴリー
          .show-item__wrapper__contents__owner__detail__right
            = link_to "aws"
            .arow
              = link_to '' do
                = icon 'fas', 'angle-right'
              = link_to "aws"
            .arow-second
              = link_to '' do
                = icon 'fas', 'angle-right'
              = link_to "aws" 
        .show-item__wrapper__contents__owner__detail
          .show-item__wrapper__contents__owner__detail__lefts
            %p ブランド
          .show-item__wrapper__contents__owner__detail__rights
            = link_to "シャネル"
        .show-item__wrapper__contents__owner__detail
          .show-item__wrapper__contents__owner__detail__lefts
            %p 商品の状態
          .show-item__wrapper__contents__owner__detail__rights
            %p #{@product.status.name}
        .show-item__wrapper__contents__owner__detail
          .show-item__wrapper__contents__owner__detail__lefts
            %p 配送料の負担
          .show-item__wrapper__contents__owner__detail__rights
            %p #{@product.postage_burden.name}
        .show-item__wrapper__contents__owner__detail
          .show-item__wrapper__contents__owner__detail__lefts
            %p 配送元の地域
          .show-item__wrapper__contents__owner__detail__rights
            %p #{@product.prefecture.name}
        .show-item__wrapper__contents__owner__detail
          .show-item__wrapper__contents__owner__detail__lefts
            %p 発送日の目安
          .show-item__wrapper__contents__owner__detail__rights
            %p #{@product.delivery_days.name}
    .show-item__value
      %h1 ¥#{@product.price}
      %p (税込)
      %span 送料込み
    - if @product.sales_status_id  == 1
      .show-item__buy
        = link_to "購入画面に進む", buy_product_path
    - else @product.sales_status_id  == 2
      .show-item__no-buy
        %p 売り切れました
    .show-item__text
      %span #{@product.text}
    .show-item__any
      .show-item__any__like
        = icon 'far', 'heart'
        %p いいね！
        %p 8
      .show-item__any__info
        = icon 'far', 'flag'
        %p 不適切な商品の報告
      .show-item__any__secure
        = link_to '' do
          = icon 'fas', 'lock'
        = link_to "あんしん・あんぜんへの取り組み"
  .show-other
    - if Product.exists?(@product.id + 1)
      .show-other__left
        = link_to product_path(@product_after) do
          = icon 'fas', 'angle-right', class: "arow-left"
          %span 次の商品
    - if Product.exists?(@product.id - 1)
      .show-other__right
        = link_to product_path(@product_before) do
          %span 前の商品
          = icon 'fas', 'angle-right'
  .show-applink
    = link_to '' do
      = icon 'fab', 'facebook', class: 'fb-btn'
    = link_to '' do
      = icon 'fab', 'twitter', class: "tw-btn"
    = link_to '' do
      = icon 'fab', 'pinterest', class: 'pr-btn'
  .show-user__item
    = link_to "#{@product.seller.nickname}さんのその他の出品"
  .show-other__item
    .item--list
      = render @products
    .item-show
      = link_to "全ての商品を見る"
  .show-other__brand
    = link_to "カテゴリー その他の商品"
  .show-other__item
    .item--list
      = render @products
    .item-show
      = link_to "全ての商品を見る"
  -# .show-status
  -#   .show-status__edit
  -#     =link_to "商品の編集"
  -#   %p or
  -#   .show-status__stop
  -#     =link_to "出品を一旦停止する"
  -#   .show-status__delete
  -#     =link_to "この商品を削除する"
  -# .show-message
  -#   .show-message__user
  -#     .show-message__user__faceicon
  -#       %p.user-name 田中
  -#       = image_tag 'icon.png'
  -#       .show-message__user__faceicon__says
  -#         %p aaaaaaa
  -#         .show-message__user__faceicon__fa
  -#           = icon 'far', 'clock', class: "clock"
  -#           %p 100日前
  -#           = link_to '' do
  -#             = icon 'far', 'flag', class: "flag"
  -#           = link_to '' do
  -#             = icon 'far', "trash-alt", class: "user-trash"
  -#     .show-message__user__chatting
  -#     .show-message__user__mycomment
  -#       %p.my-name 田中
  -#       .show-message__user__mycomment__text
  -#         %p 右ふきだし文
  -#         .show-message__user__mycomment__fa
  -#           = icon 'far', 'clock', class: "clock"
  -#           %p 100日前
  -#           = link_to '' do
  -#             = icon 'far', 'trash-alt', class: "trash"
  -#       = image_tag 'icon.png', class: "faceicon"

  -#   .show-message__form
  -#     %p 相手のことを考えて丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分になることがあります。
  -#   .show-message__comment
  -#     %textarea{class: "post"}
  -#     = link_to  "コメントする", root_path, class: "combtn"
//パンくずリストが入ります
=render 'footer-top'
.footer--bottom
  .footer--bottom--detail
    .footer--bottom--detail__something
      %p メルカリについて
      = link_to "会社概要 (運営会社)"
      = link_to "採用情報"
      = link_to "プレリリース"
      = link_to "公式ブログ"
      = link_to "メルカリロゴ利用ガイドライン"
      .footer--bottom--detail__something__icon
        = link_to '' do
          = icon 'fab', 'twitter', class: 'tw-icon'
        = link_to '' do
          = icon 'fab', 'facebook', class: 'fb-icon'
    .footer--bottom--detail__something
      %p ヘルプ&ガイド 
      = link_to "メルカリガイド"
      = link_to "らくらくメルカリ便"
      = link_to "ゆうゆうメルカリ便"
      = link_to "大型メルカリ便"
      = link_to "車体取引ガイド"
      = link_to "メルカリあんしん・あんぜん宣言！"
      = link_to "偽ブランド品撲滅への取り組み"
      = link_to "メルカリボックス"
    .footer--bottom--detail__something
      %p プライバシーと利用規約
      = link_to "プライバシーボリシー"
      = link_to "メルカリ利用規約"
      = link_to "あんしんスマホサポート制度に関する利用規約"
      = link_to "コンプライアンスポリシー"
    .footer--bottom--detail__something__right
      = link_to "個人データの安全管理に係る基本方針"
      = link_to "特定商取引に関する表記"
      = link_to "資産決済法に基づく表示"
      = link_to "法令遵守と犯罪防止のために"
    .footer--bottom--detail__something
      %p 国
      = link_to "日本"
      = link_to "United States"
  .footer-logo
    = link_to '' do
      = image_tag 'logo-white.png', class: 'logo-white'
    %p © 2019 Mercar