.sub-footer
  %nav
    %ul.sub-footer__list
      %li.sub-footer__list__item
        = link_to '#' do
          プライバシーポリシー
      %li.sub-footer__list__item
        = link_to '#' do
          メルカリ利用規約
      %li.sub-footer__list__item
        = link_to '#' do
          特定商取引に関する表記
  .sub-footer__logo
    .sub-footer__logo__form
      = link_to '#' do
        = image_tag 'common/logo-gray.svg'
  %p
    %samll © 2019 Mercari

